<div>
  <h2 class="group_header">Punktesystem</h2>
  <table class="table table-hover">
      <p>
        Am Beispiel: <strong>Deutschland - Mexiko 3:1</strong>
      </p>
      <tbody>
        <tr>
          <td><strong>Richtiges Ergebnis</strong> (Bsp: 3:1)</td>
          <td style="text-align: right;">5 Punkte</td>
        </tr>
        <tr>
          <td><strong>Richtige Tendenz</strong> (Bsp: 2:0)</td>
          <td style="text-align: right;">3 Punkte</td>
        </tr>
        <tr>
          <td><strong>Richtiger Gewinner</strong> (Bsp: 3:0)</td>
          <td style="text-align: right;">1 Punkte</td>
        </tr>

        <tr>
          <td><strong>Falscher Tipp</strong> (Bsp: 0:2)</td>
          <td style="text-align: right;">0 Punkte</td>
        </tr>
      </tbody>
  </table>
</div>