<h2>Anleitung KEK Gewinnspiel</h2><br>
<p>Herzlich Willkommen beim KEK WM Tippspiel für die offizielle FIFA WM 2018 in Russland.<br> Wir freuen uns sehr, dass Sie sich dazu entschieden haben, an dem von der KEK Anwendungssysteme GmbH ausgerichteten Online-Tippspiel teilzunehmen und somit die
  Chance haben, mit Ihrer Fußballbegeisterung und ein wenig Glück, bis zu 500,00 € für einen guten Zweck Ihrer Wahl zu gewinnen<br> Die KEK Anwendungssysteme GmbH wird zu dieser WM als Hauptgewinn für das Tippspiel eine Spende in Höhe von 500,00 € für
  einen guten Zweck vergeben. Den Spendenempfänger darf dann von dem Gewinner des Tippspiels bestimmt werden.<br> Dank der Unterstützung und des Co-Sponsorings der YooYuu GmbH ist es zudem möglich, nicht nur den erstplatzierten Spieler mit einem Gewinn
  auszustatten, sondern auch den Zweitplatzierten sowie den Drittplatzierten mit je einem Trostpflaster in Form einer Spende in Höhe von 300,00 € sowie 150,00 € für einen guten Zweck zu entlohnen.<br> Alle Spenden werden vom jeweiligen Unternehmen im
  Namen des Gewinners nach Ablauf des Tippspiels getätigt.<br> Somit möchten wir Sie herzlich dazu einladen, aktiv Teil dieses Ereignisses zu werden und dieses auch in Ihrem Bekanntenkreis zu teilen, denn desto mehr Teilnehmer sich anmelden, desto spannender
  und umkämpfter wird letztendlich das Tippspiel.<br> Um dieses Tippspiel noch kompetitiver unter allen Teilnehmern zu gestalten, dürfen auch Teilnehmer von KEK sowie von YooYuu und auch deren Angehörige an diesem Tippspiel teilnehmen, wobei diese von
  der Gewinnausschüttung ausgenommen sind.<br> Die Spielregeln, sowie den generellen organisatorischen Ablauf und mehr Infos zu den Gewinnmöglichkeiten, stehen Ihnen im Folgenden zur Verfügung:</p>
<h3>1. Spielablauf</h3><br>
<p>Das KEK WM Tippspiel startet am Montag, den 11.06.2018, und endet mit der offiziellen Benennung des neuen Fußballweltmeisters nach dem Finale am 14.07.2018 in Moskau.<br> Den Teilnehmern steht es über den gesamten Zeitraum frei, bei allen 64 Spielen mitzutippen
  und innerhalb des oben genannten Zeitraums aktiv am Tippspiel teilzunehmen.<br> Gewonnen hat derjenige, der nach Beendigung des Tippspiels am meisten Punkte nach dem unter Punkt 3. erklärten Punktesystem erspielt hat. Sollte es am Ende zu einem Punktegleichstand
  zwischen mehreren Spielern kommen, so wird der Spieler mit den meisten exakt getippten Spielen als Sieger hervorgehen. Sollte es in diesem Fall immer noch unentschieden sein, wird der Sieger durch KEK via Losverfahren ermittelt. Nach Beendigung des
  Tippspiels, wird KEK sich mit den Gewinnern des Tippspiels in Verbindung setzen.<br></p>
<h3>2. Tippabgabe</h3><br>
<p>Um die Möglichkeit zu haben, Punkte für sich selbst zu sammeln, muss der Spieler vor Anpfiff der jeweiligen Spiele seine Tipps platzieren. Dies erfolgt über eine Eingabe des von ihm erwarteten Ergebnisses im entsprechenden Eingabefeld der Webseite. Eine
  Tippabgabe ist nicht zwingend, sollte jedoch durchgeführt werden, da nicht nur das exakt richtig getippte Ergebnis mit Punkten belohnt wird (siehe Punktevergabe).<br> Bitte beachten Sie, dass eine Tippeingabe nur bis spätestens zum Spielanpfiff möglich
  ist. Nach Anpfiff des Spiels ist die Tippeingabe nicht mehr möglich. Sollte der Anpfiff des Spiels aus unvorhergesehen Gründen nach hinten verlegt werden, gilt die ursprüngliche Startzeit des Fußballspiels als Annahmeschluss für eingehende Tipps.<br></p>
<h3>3. Punktesystem</h3><br>
<p><strong>Pro Partie und somit pro Tipp werden folgende Punkte vergeben:</strong><br>
  <small>Am Beispiel: Deutschland vs. Mexico – 3:1</small><br> Richtige Tordifferenz: 3 Punkte <small>(Bsp.: 2:0)</small><br> Richtiges Ergebnis: 5 Punkte <small>(Bsp.: 3:1)</small><br> Richtige Tendenz: 1 Punkt <small>(Bsp.: 3:0)</small><br> Falscher Tipp: 0 Punkte <small>(Bsp.: 0:2)</small><br>
  <p>Nach Eingabe des Ergebnisses durch KEK ins Tippspiel werden die Punkte automatisch vom System berechnet und dem Spieler auf sein entsprechendes Punktekonto gutgeschrieben,. KEK wird nach Abpfiff einer Partie so zeitnah wie möglich die Ergebnisse im
    Tippspiel pflegen, sodass alle Spieler so schnell wie möglich den aktuellen Turnierstand betrachten können.<br> Bei der K.O.-Runde ab dem Achtelfinale wird das Ergebnis nach 90 Minuten Spielzeit für die Wertung verwendet, sodass auch bei diesen Spielen
    ein Unentschieden möglich ist. Tore, welche während der Verlängerung bzw. dem Elfmeterschießen fallen, werden nicht für das Tippergebnis in Betracht gezogen.<br></p>
  <h3>4. Spielen auf Mobilgeräten</h3><br>
  <p>Generell wurde das KEK WM Tippspiel so konzipiert, dass auch eine Nutzung über ein mobiles Endgerät bzw. über ein Tablet reibungslos möglich ist. Wie Sie einen Schnellzugriff zu der Seite in Ihrem Smartphone oder Tablet konfigurieren können, finden
    Sie im Folgenden:</p>

  <h4>Android: </h4>
  EINBINDUNG SCREENSHOTS
  <h4>IOS:</h4>
  EINBINDUNG SCREENSHOTS

  <h3>Support</h3><br>
  <p>Bei generellen technischen Problemen, bitten wir Sie, uns diese hier mitzuteilen, oder uns eine E-Mail an tippspiel@kek-it.de unter Angabe des Problems zukommen zu lassen.</p>