<h2>Impressum</h2>
<div class="row">
  <div class="col-sm-6">
    <p>
      <strong>Angaben gemäß § 5 TMG:</strong><br/>
      <br/>
      <strong>Vertretungsberechtigte Geschäftsführer:</strong><br/> 
      Bernhard Erasmus<br/>
      Wolfgang Weichselgärtner<br/>
      <br/>
      <strong>Umsatzsteueridentifikationsnummer:</strong> DE166181193<br/>
      <br/>
      <strong>Registergericht:</strong> München<br/>
      <strong>Registernummer:</strong> HRB 106 448
    </p>
  </div>
  <div class="col-sm-6">
    <p>
      KEK Anwendungssysteme GmbH<br/>
      <br/>
      Linprunstraße 49<br/>
      80335 München<br/>
      <br/>
      Telefon: +49 (0) 89 - 12 15 44-0<br/>
      eMail: kek@kek-it.de<br/>
      <br/>
      Telefax: +49 (0) 89 - 12 15 44-20<br/>
      Internet: http://www.kek-it.de
    </p>
  </div>
</div>
<h2>Impressum</h2>
<div class="row">
  <div class="col-sm-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#1" aria-controls="1" role="tab" data-toggle="tab">Rechtswirksamkeit</a></li>
      <li role="presentation"><a href="#2" aria-controls="2" role="tab" data-toggle="tab">Inhalt</a></li>
      <li role="presentation"><a href="#3" aria-controls="3" role="tab" data-toggle="tab">Haftung</a></li>
      <li role="presentation"><a href="#4" aria-controls="4" role="tab" data-toggle="tab">Urheberrecht</a></li>
      <li role="presentation"><a href="#5" aria-controls="5" role="tab" data-toggle="tab">Berufshaftpflichtversicherung</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="min-height: 300px;">
      <div role="tabpanel" class="tab-pane active" id="1">
        <p>
          Sofern Teile oder einzelne Formulierungen dieser Nutzungsbedingungen der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile in ihrem Inhalt und ihrer Gültigkeit davon unberührt.
          Gerichtsstand ist München, wenn der Nutzer Kaufmann gemäß HGB ist.
          Es gilt deutsches Recht unter Ausschluss UN-Kaufrechts.
        </p>
      </div>

      <div role="tabpanel" class="tab-pane" id="2">
        <p>
          KEK übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. KEK macht keinerlei Zusicherungen und übernimmt keinerlei Gewährleistung hinsichtlich der Exaktheit oder Verlässlichkeit der Informationen und Inhalte, die auf dieser Website enthalten sind, über diese Website weitergegeben oder heruntergeladen werden oder auf die auf dieser Website verwiesen bzw. zugegriffen wird. Haftungsansprüche gegen die KEK Anwendungssysteme GmbH, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens KEK kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Alle etwaigen Angebote sind freibleibend und unverbindlich. KEK behält es sich ausdrücklich vor, Teile der KEK Webseiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen. KEK darf den Zugang zu der KEK-Website jederzeit sperren, insbesondere wenn der Nutzer gegen seine Pflichten aus diesen Bedingungen verstößt.
        </p>
      </div>
      
      
      <div role="tabpanel" class="tab-pane" id="3">
        <p>
          Bei direkten oder indirekten Verweisen auf fremde Internetseiten ("Links"), die außerhalb des Verantwortungsbereiches von KEK liegen, würde eine Haftungsverpflichtung ausschließlich in Kraft treten, wenn KEK von den Inhalten und der Rechtswidrigkeit Kenntnis hat und nicht unverzüglich tätig wird, um die Information zu entfernen oder den Zugang zu sperren (§ 11 S. 1 Nr. 2 TDG, § 9 S. 1 Nr. 2 MDStV), soweit ihr dies technisch möglich und zumutbar ist. KEK erklärt hiermit ausdrücklich, dass sie vor dem Setzen von Links die Inhalte, auf die verwiesen wird, geprüft hat und zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren.
          Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der gelinkten/verknüpften Seiten hat KEK keinerlei Einfluss.
          Deshalb distanziert sich KEK hiermit ausdrücklich und ernsthaft von allen Inhalten aller gelinkten/verknüpften Seiten, die nach der Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge in von KEK eingerichteten Gästebüchern, Diskussionsforen und Mailinglisten. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.
        </p>
      </div>        
      
      <div role="tabpanel" class="tab-pane" id="4">
        <p>
          KEK ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von ihr selbst erstellte Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen. Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind. Das Copyright für veröffentlichte, von KEK selbst erstellte Objekte bleibt allein bei KEK. Eine Verwertung solcher Grafiken, Tondokumente, Videosequenzen und Texte, wie Vervielfältigung, Bearbeitung oder Wiedergabe, ist ohne ausdrückliche Zustimmung von KEK nicht gestattet. Außerhalb der jeweils hierin ausdrücklich eingeräumten Nutzungsrechte oder sonstiger Rechte, werden dem Nutzer keine weiteren Rechte gleich welcher Art, insbesondere an dem Firmennamen und an gewerblichen Schutzrechte, wie Patenten, Gebrauchsmuster oder Marken eingeräumt, noch trifft KEK eine entsprechend Pflicht derartige Rechte einzuräumen.
        </p>
      </div>       
      
      <div role="tabpanel" class="tab-pane" id="5">
        <p>
          <strong>Die Berufshaftplichtversicherung wurde abgeschlossen bei:</strong><br/>
          <br/>
          R+V Versicherung AG<br/>
          Mittlerer Pfad 24<br/>
          70499 Stuttgart<br/>
          <br/>
          <strong>Geltungsbereich des Versicherungsschutzes:</strong><br/>
          <br/>
          Vermögensschäden<br/>
        </p>
      </div>
      
    </div>
      
  </div>
</div>