<div class="welcome_container">
  <%= image_tag 'kekwmlogo.png', :alt => "WM Tippspiel KEK Anwendungssysteme GmbH", :class => 'welcome_image'%>
  <h1 class="welcome_h1">KEK WM Tippspiel 2018</h1>
  <h2 class="welcome_h2">Mitspielen und bis zu 500€ für eine wohltätige Organisation Ihrer Wahl* gewinnen!</h2>
  <a class="btn btn-primary welcome-btn" href="/signup">Jetzt registrieren</a>
  <a class="btn btn-primary welcome-btn" href="/login">Anmelden</a>
  <div style="width: 100%; max-width: 400px; margin: 10px auto; display: flex; align-items: flex-start; flex-direction: row; align-items: center;">
  <div style="width: 50%; display: flex; flex-direction: column; justify-content: space-evenly;">
    <h5>Veranstallter:</h5>
    <a href="http://www.kek-it.de" target="_blank">
      <img src="kek-logo.png" alt="KEK Anwendungssysteme Gmbh" height="50px"/>
    </a>
  </div>
  <div style="width: 50%; display: flex; flex-direction: column; align-items: flex-start; justify-content: space-evenly;">
    <h5>Co-Sponsor:</h5>
    <a href="http://www.yooyuu.de" target="_blank">
      <img src="yooyuu-logo.png" alt="YooYuu Gmbh" height="40px"/>
    </a>
  </div>
</div>
</div>
<p class="welcome_h2" style="font-size: 12px; font-weight: 300;">*die genauen Bestimmungen finden Sie in den Nutzungsrichtlinien</p>