<div class="welcome_container">
  <%= image_tag 'kekwmlogo.png', :alt => "WM Tippspiel KEK Anwendungssysteme GmbH", :class => 'welcome_image'%>
  <h1 class="welcome_h1">KEK WM Tippspiel 2018</h1>
  <h2 class="welcome_h2">Mitspielen und 500€ für eine wohltätige Organisation Ihrer Wahl* gewinnen!</h2>
  <button class="welcome_button" onclick="window.open('/signup')"><a href="/signup">Jetzt registrieren</a></button>
  <button class="welcome_button" onclick="window.open('/login')"><a href="/login">Anmelden</a></button>
  <p class="welcome_h2" style="font-size: 12px; font-weight: 300;">*die genauen Bestimmungen finden Sie in den Nutzungsrichtlinien</p>
</div>