<h2><strong>Nutzungsbedingungen f&uuml;r das KEK WM Tippspiel zur Fu&szlig;ball Weltmeisterschaft 2018 in Russland</strong></h2>
<p>f&uuml;r die unentgeltliche Nutzung des nur registrierten Benutzern (kurz: Nutzer) zug&auml;nglichen WM Tippspiels auf der Internet-Pr&auml;senz der KEK Anwendungssysteme GmbH (kurz: KEK) unter der www.kek-tipp.de (nachfolgend zusammenfassend "Website")</p>
<h3><strong>1. Allgemeines</strong></h3>
<p>Der Nutzer erkl&auml;rt, dass er diese Nutzungsbedingungen und die rechtlichen Hinweise sowohl zur Website als auch zu den darin enthaltenen Informationen und Diensten verstanden hat und mit ihnen einverstanden ist. Erkennt der Nutzer dies nicht an, so ist ihm die Nutzung der Services untersagt. Der Nutzer verpflichtet sich, s&auml;mtliche anwendbaren Gesetze und sonstige rechtliche Bestimmungen im Rahmen der Bereitstellung und Nutzung des KEK WM Tippspiels einzuhalten.</p>
<h3><strong>2. Zugang und Registrierung, Mindestalter</strong></h3>
<p>2.1 F&uuml;r Zugang, Registrierung und Mindestalter f&uuml;r das KEK WM Tippspiel gilt folgendes:</p>
<p>Der Zugang zu dem KEK WM Tippspiel und dessen Nutzung steht grunds&auml;tzlich jedem frei, der seinen Erstwohnsitz innerhalb eines EU Mitgliedstaates hat, der mindestens 16 Jahre alt ist und die erforderliche F&auml;higkeit besitzt, mit dem von KEK erstellten Tippspiel verantwortlich umzugehen, also diese Nutzungsbedingungen zu verstehen und zu akzeptieren sowie Fehlverhalten zu vermeiden. Minderj&auml;hrige Nutzer versichern mit der Registrierung, dass der Zugang in Absprache und im Einvernehmen mit den Erziehungsberechtigten geschieht.</p>
<p>F&uuml;r die Nutzung des KEK WM Tippspiels muss sich der Nutzer f&uuml;r diesen Service anmelden. Dies erfolgt durch Registrierung auf der Website &uuml;ber die f&uuml;r die Nutzung des konkreten Service vorgesehene Eingabemaske unter Mitteilung der jeweils abgefragten verpflichtenden Daten. Nach der Anmeldung f&uuml;r das Tippspiel &uuml;bersendet KEK zun&auml;chst eine Best&auml;tigungsanfrage an die vom Nutzer benannte E-Mail-Adresse, die der Nutzer nach seiner Wahl best&auml;tigen kann, damit die Registrierung abgeschlossen ist (so genanntes Double Opt-In).</p>
<p>2.2 Es besteht kein Rechtsanspruch des Nutzers auf Abschluss und Durchf&uuml;hrung des Vertrags &uuml;ber das Tippspiel, insbesondere bleibt es KEK vorbehalten, das Tippspiel jederzeit ohne die Angabe von Gr&uuml;nden und ohne Vorank&uuml;ndigung vor&uuml;bergehend oder dauerhaft einzustellen. KEK kann die Registrierung des Nutzers jederzeit ablehnen oder einen Nutzer von der Nutzung ausschlie&szlig;en.</p>
<p>Bei bereits erfolgter Registrierung und abgeschlossenem Vertrag gilt dies jedoch nur, wenn ein sachlicher Grund vorliegt, insbesondere z. B., falls</p>
<ul>
<li>an der Richtigkeit oder Vollst&auml;ndigkeit der Nutzerdaten oder an der Befugnis des t&auml;tigen Nutzers begr&uuml;ndete Zweifel bestehen und der Nutzer die Zweifel nach Aufforderung durch KEK nicht auf eigene Kosten unverz&uuml;glich unter Vorlage geeigneter Nachweise ausger&auml;umt hat.</li>
<li>ein hinreichender Verdacht besteht, dass der Nutzer das Tippspiel missbr&auml;uchlich nutzt oder zu nutzen beabsichtigt (z. B. Sicherung eines unrechtm&auml;&szlig;igen Vorteils gegen&uuml;ber anderen Nutzern durch Manipulationen) oder gegen die Bestimmungen dieser Nutzungsbedingungen verst&ouml;&szlig;t.</li>
<li>ein gesetzlicher Ausschlussgrund vorliegt.</li>
</ul>
<p>2.3 Mit der Registrierung garantiert der Nutzer die Richtigkeit und Aktualit&auml;t s&auml;mtlicher erforderlicher Angaben. Bei &Auml;nderungen ist der Nutzer verpflichtet, seine Daten unverz&uuml;glich zu aktualisieren. Eine Registrierung darf nur f&uuml;r die eigene Person vorgenommen werden. Eine Registrierung von Dritten ist unzul&auml;ssig.</p>
<p>&nbsp;</p>
<h3><strong>3. Unentgeltliche Nutzung des Tippspiels und Angebote von Dritten</strong></h3>
<p>3.1 Die Nutzung des KEK WM Tippspiels ist unentgeltlich m&ouml;glich.</p>
<p>3.2 Im Rahmen des KEK WM Tippspiels werden dem Nutzer auch Beitr&auml;ge Dritter pr&auml;sentiert. KEK beh&auml;lt sich eine formale Pr&uuml;fung dieser Inhalte vor der Ver&ouml;ffentlichung auf der Website vor, ohne hierzu gegen&uuml;ber dem Nutzer verpflichtet zu sein.</p>
<p>&nbsp;</p>
<h3><strong>4. Sicherheitsbestimmungen und Sorgfaltspflichten des Nutzers</strong></h3>
<p>4.1 Die von KEK eingesetzten bzw. genutzten Server sind dem Stand der Technik entsprechend durch Firewalls gesichert. Dem Nutzer ist jedoch bekannt, dass die Gefahr besteht, dass unter Umst&auml;nden Dritte auf &uuml;bermittelte Daten zugreifen k&ouml;nnen. Die Vertraulichkeit der im Rahmen der Nutzung der Services &uuml;bermittelten Daten kann daher nicht gew&auml;hrleistet werden.</p>
<p>Die auf den von KEK eingesetzten bzw. genutzten Servern gespeicherten Daten werden durch ein dem Stand der Technik entsprechendes Back-Up-System gesichert. Der Nutzer sorgt gleichwohl daf&uuml;r, die eigenen f&uuml;r ihn relevanten Daten in geeigneter Weise zu sichern. Die &Uuml;berpr&uuml;fung der eigenen Datensicherung ist Sache des Nutzers.</p>
<p>4.2 Der Nutzer darf seine pers&ouml;nlichen Zugangsdaten und Passwort ausschlie&szlig;lich selbst verwenden. Der Nutzer ist verpflichtet, seine pers&ouml;nlichen Zugangsdaten und Passwort geheim zu halten sowie vor einem unberechtigten Zugriff Dritter zu sch&uuml;tzen. Der Nutzer ist f&uuml;r die Geheimhaltung seiner pers&ouml;nlichen Zugangsdaten und Passwort verantwortlich.</p>
<p>Der Nutzer ist insbesondere verpflichtet:</p>
<ul>
<li>Ma&szlig;nahmen zu unterlassen, welche das KEK WM Tippspiel und/oder die Website sowie deren Integrit&auml;t gef&auml;hrden oder st&ouml;ren. Der Nutzer ist verpflichtet, daf&uuml;r Sorge zu tragen, dass die von ihm &uuml;bertragenen Daten nicht mit Viren, W&uuml;rmern oder Trojanern behaftet sind</li>
<li>die erforderlichen Datensicherungsvorkehrungen w&auml;hrend der gesamten Vertragslaufzeit einzurichten und aufrecht zu erhalten. Dies gilt insbesondere f&uuml;r den sorgf&auml;ltigen und gewissenhaften Umgang mit seinen pers&ouml;nlichen Zugangsdaten und Passwort.</li>
<li>in seinem Bereich eintretende technische &Auml;nderungen KEK umgehend mitzuteilen, wenn die &Auml;nderungen geeignet sind, die Leistungen und die Sicherheit des KEK WM Tippspiels und/oder der Website zu beeinflussen oder zu beeintr&auml;chtigen.</li>
<li>bei der Aufkl&auml;rung von Angriffen Dritter auf das KEK WM Tippspiel und/oder die Website mitzuwirken.</li>
</ul>
<p>4.3 Bei Verdacht des Missbrauchs durch einen Dritten wird der Nutzer KEK unverz&uuml;glich dar&uuml;ber informieren. Sobald KEK von der unberechtigten Nutzung Kenntnis erlangt, wird KEK den Zugang des unberechtigten Dritten sperren. KEK beh&auml;lt sich das Recht vor, pers&ouml;nliche Zugangsdaten und Passwort eines Nutzers zu &auml;ndern; in einem solchen Fall wird KEK den Nutzer hier&uuml;ber unverz&uuml;glich informieren.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3><strong>5.&nbsp;Sonstige Pflichten des Nutzers</strong></h3>
<p>5.1 Der Nutzer sorgt eigenst&auml;ndig und auf eigene Kosten f&uuml;r seinen Zugang zum Internet sowie f&uuml;r die daf&uuml;r notwendige technische Infrastruktur. Die Gefahr des Verlusts seiner Daten auf dem &Uuml;bertragungsweg tr&auml;gt der Nutzer. Der Nutzer ist f&uuml;r die von ihm eingesetzten Ger&auml;te (Hardware und Software) und ihre Eignung zur Daten&uuml;bertragung allein verantwortlich.</p>
<p>5.2 Der Nutzer hat auf seine Kosten alle Anstrengungen zu unternehmen, um KEK gegen&uuml;ber eine reibungslose Leistungserbringung zu erm&ouml;glichen und alles zu unterlassen, was die Leistungserbringung durch KEK erschweren oder unm&ouml;glich machen k&ouml;nnte.</p>
<p>5.3 Es ist dem Nutzer grunds&auml;tzlich untersagt, Nutzerdaten auszusp&auml;hen und auszulesen, um Spam-Mails zu senden, diese zu Phishing-Zwecken oder f&uuml;r sonstigen Datenmissbrauch zu nutzen.</p>
<p>&nbsp;</p>
<h3><strong>6. Rechte an Inhalten des Tippspiels</strong></h3>
<p>Alle Rechte sind vorbehalten. Das in dem Tippspiel enthaltene geistige Eigentum ist gesch&uuml;tzt.</p>
<p>&nbsp;</p>
<h3><strong>7. Besondere Bestimmungen f&uuml;r das KEK WM Tippspiel</strong></h3>
<p>7.1&nbsp; &nbsp;Teilnahme und Gewinnberechtigung</p>
<p style="padding-left: 30px;">7.1.1 Die Teilnahme ist kostenlos.</p>
<p style="padding-left: 30px;">7.1.2 Die Teilnahme erfolgt jeweils &uuml;ber die auf der Website f&uuml;r das KEK WM Tippspiel angebotene Teilnahmem&ouml;glichkeit. F&uuml;r die Rechtzeitigkeit des Zugangs bei KEK sowie die Richtigkeit seiner Eingaben ist jeweils allein der Nutzer verantwortlich.</p>
<p style="padding-left: 30px;">7.1.3 Teilnahmeberechtigt ist jede nat&uuml;rliche Person, die ihren Erstwohnsitz innerhalb eines EU Mitgliedstaates hat sowie das 16. Lebensjahr vollendet hat. Minderj&auml;hrige Personen unter 16 Jahren sind von der Teilnahme ausgeschlossen. KEK beh&auml;lt sich im &Uuml;brigen vor, die Aussch&uuml;ttung von Gewinnen an Minderj&auml;hrige, die das 16. Lebensjahr vollendet haben, von der Zustimmung der Erziehungsberechtigten abh&auml;ngig zu machen.</p>
<p style="padding-left: 30px;">7.1.4 Sachliche Gr&uuml;nde gem&auml;&szlig; Ziffer 2.2 (z. B. unwahre Personenangaben, Manipulationen) berechtigen KEK zu einem Ausschluss des Nutzers von der Teilnahme an diesem Spiel. Mehrfachteilnahmen und automatische computergenerierte Einsendungen sind nicht zul&auml;ssig und bleiben unbeachtet.</p>
<p style="padding-left: 30px;">7.1.6 Eine Gewinnaussch&uuml;ttung an Mitarbeiter der KEK und Co-Sponsoren sowie deren Angeh&ouml;rige findet nicht statt.</p>
<p style="padding-left: 30px;">&nbsp;</p>
<p>7.2 Gewinne, Spielablauf und -gestaltung, Teilnahmeschluss, Zeitrahmen</p>
<p style="padding-left: 30px;">7.2.1 Gewinne, Spielablauf und Spielgestaltung, Teilnahmeschluss und Zeitrahmen f&uuml;r das KEK WM Tippspiel werden jeweils im Einzelnen auf der Website &nbsp;vom Tippspiel unter dem Punkt &bdquo;Anleitung&ldquo; beschrieben.</p>
<p style="padding-left: 30px;">7.2.2 Pro Nutzer ist, soweit nicht anders geregelt, jeweils nur ein Preis m&ouml;glich. Der Anspruch auf einen Preis ist nicht &uuml;bertragbar. Soweit nicht anders geregelt, ist eine Barauszahlung oder Auszahlung in Sachwerten ausgeschlossen. Sollte ein Mitarbeiter der KEK, eines co-sponsoren oder deren Angeh&ouml;rige durch seine Leistungen im Spiel preisberechtigt sein, so gilt Ziffer <em>7.1.6</em> und der Anspruch auf den Preis geht auf die n&auml;chstplatzierte Person &uuml;ber, welche nicht unter die Regelung der entsprechenden Ziffer f&auml;llt.</p>
<p style="padding-left: 30px;">7.2.3 Es besteht kein Anspruch auf Identit&auml;t zwischen dem gezeigten und dem tats&auml;chlich gewonnenen Preis. KEK beh&auml;lt sich das Recht vor, ggf. den Gewinn durch einen dem als Gewinn pr&auml;sentierten Gegenstand gleich- oder h&ouml;herwertigen Gewinn zu ersetzen.</p>
<p style="padding-left: 30px;">7.2.4 Nach dem jeweiligen Teilnahmeschluss bzw. au&szlig;erhalb des Zeitrahmens eingehende Einsendungen bleiben unber&uuml;cksichtigt.</p>
<p style="padding-left: 30px;">7.2.5 Im Falle dessen, dass es sich bei der Gewinnaussch&uuml;ttung um eine Spende handelt, welche von KEK get&auml;tigt wird und der Spendenempf&auml;nger vom Gewinner des KEK WM Tippspiels bestimmt werden kann, gilt,</p>
<p style="padding-left: 60px;">- dass der Spendenempf&auml;nger gemeinn&uuml;tzige oder mildt&auml;tige Zwecke verfolgt.</p>
<p style="padding-left: 60px;">- dass KEK sich vorbeh&auml;lt, ohne Angabe von Gr&uuml;nden, eine vom Gewinner gew&uuml;nschte Organisation von einer Spende auszuschlie&szlig;en.</p>
<p>&nbsp;</p>
<p>7.3 Gewinnmitteilung, Ver&ouml;ffentlichung</p>
<p style="padding-left: 30px;">7.3.1 Die Rankinglisten des KEK WM Tippspiels sind jeweils auf der Website unter Angabe der Benutzernamen abrufbar.</p>
<p style="padding-left: 30px;">7.3.2 Der Nutzer stimmt zu, dass sein voller Name im Falle des Gewinns, nach Wahl von KEK in den offiziellen Social Media-Auftritten und/oder auf der firmeneigenen Webseite von KEK ver&ouml;ffentlicht wird.</p>
<p style="padding-left: 30px;">7.3.3 Der jeweilige Gewinner wird zudem per E-Mail benachrichtigt und ist verpflichtet, sich binnen vier Wochen nach Absenden dieser Benachrichtigung bei KEK zu melden. Meldet sich der jeweilige Gewinner nicht innerhalb von vier Wochen nach dem Absenden der Benachrichtigung, so steht das Erl&ouml;schen des Gewinnanspruchs im Ermessen von KEK.</p>
<p style="padding-left: 30px;">7.3.4 Ein Gewinnanspruch entf&auml;llt jeweils auch dann, wenn der Gewinn aus Gr&uuml;nden, die allein in der Person des jeweiligen Gewinners liegen bzw. in dessen Verantwortungsbereich fallen, nicht binnen sechs Monaten an den jeweiligen Gewinner ausgesch&uuml;ttet werden kann.</p>
<p style="padding-left: 30px;">&nbsp;</p>
<p>7.4 Sonstige Bestimmungen</p>
<p>Der Rechtsweg ist ausgeschlossen.</p>
<p>&nbsp;</p>
<h3><strong>8. K&uuml;ndigung</strong></h3>
<p>Der Nutzer erh&auml;lt die M&ouml;glichkeit, die Teilnahme am KEK WM Tippspiel, f&uuml;r die er sich registriert hat, zu k&uuml;ndigen. Der Nutzer kann somit zu jedem Zeitpunkt mit einer schriftlichen K&uuml;ndigung per Email die L&ouml;schung seines Accounts veranlassen. Solche Emails sind an <a href="mailto:tippspiel@kek-it.de">tippspiel@kek-it.de</a> zu versenden.</p>
<p>&nbsp;</p>
<h3><strong>9. &Auml;nderungsvorbehalt</strong></h3>
<p>KEK beh&auml;lt sich vor, diese Nutzungsbedingungen jederzeit und ohne Angabe von Gr&uuml;nden zu aktualisieren und zu &auml;ndern. Entsprechende &Auml;nderungen werden &uuml;ber die Tippspiel Website dem Nutzer angezeigt.</p>
<p>&nbsp;</p>
<h3><strong>10. Haftung f&uuml;r unentgeltliche Services</strong></h3>
<p>F&uuml;r die Haftung von KEK f&uuml;r das KEK WM Tippspiel - gleich aus welchem Rechtsgrund - gelten folgende Regelungen:</p>
<p>KEK &uuml;bernimmt keine Haftung f&uuml;r die Richtigkeit, Vollst&auml;ndigkeit, Aktualit&auml;t oder sonstige Qualit&auml;t der bereitgestellten Inhalte, f&uuml;r Sach- und Rechtsm&auml;ngel sowie f&uuml;r Sch&auml;den, gleich welcher Art. Der Haftungsausschluss gilt nicht bei Vorsatz oder grober Fahrl&auml;ssigkeit.</p>
<p>Soweit die Haftung von KEK ausgeschlossen oder beschr&auml;nkt ist, gilt dies auch f&uuml;r die pers&ouml;nliche Haftung ihrer Angestellten, Arbeitnehmer, Mitarbeiter, Vertreter und Erf&uuml;llungsgehilfen.</p>
<p>&nbsp;</p>
<h3><strong>11. Datenschutz</strong></h3>
<p>Es gelten die Bestimmungen zum Datenschutz (Datenschutzerkl&auml;rung), die unter folgendem Link eingesehen werden k&ouml;nnen.</p>
<p>&nbsp;</p>
<h3><strong>12. Schlussbestimmungen</strong></h3>
<p>12.1 Es gilt das Recht der Bundesrepublik Deutschland unter Ausschluss aller Rechtsnormen, die in eine andere Rechtsordnung verweisen. Die Anwendung des Internationalen Privatrechts sowie des UN-Kaufrechts sind ausdr&uuml;cklich ausgeschlossen.</p>
<p>12.2 Der Nutzer darf einzelne Rechte dieses Vertrags sowie den Vertrag im Ganzen nicht auf Dritte &uuml;bertragen, es sei denn, KEK &nbsp;erteilt hierzu ausdr&uuml;cklich ihre schriftliche Zustimmung.</p>
<p>12.3 Die Nichtwahrnehmung eines vertraglichen Rechts gilt nicht als Verzicht auf das betreffende Recht, es sei denn, dass dies dem anderen Vertragspartner vom Inhaber des Rechts ausdr&uuml;cklich und in schriftlicher Form mitgeteilt wird.</p>
<p>12.4 M&uuml;ndliche Nebenabreden sind unwirksam. Abweichende oder erg&auml;nzende Bedingungen sowie &Auml;nderungen dieses Vertrags einschlie&szlig;lich dieser Schriftformklausel gelten nur, wenn sie schriftlich vereinbart und ausdr&uuml;cklich als &Auml;nderung oder Erg&auml;nzung gekennzeichnet werden.</p>
<p>12.5 Durch die etwaige Unwirksamkeit einer oder mehrerer Bestimmungen dieser Nutzungsbedingungen wird die Wirksamkeit der &uuml;brigen Bestimmungen nicht ber&uuml;hrt.</p>