<div class="row">
  <div class="col-md-8">
    <%= render 'shared/tabelle' %>
  </div>
  <div class="col-md-4">
    <%= render 'shared/explainer_points' %>
    <%= render 'shared/twitter' %>
  </div>
</div>
