body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #340030;
}

.game_container {
  display: flex;
  padding: 10px;
  margin: 5px 0px 45px 0px;
  background: #FFFFFF;
  box-shadow: 0 0 6px 0 rgba(71,69,84,0.50);
  border-radius: 2px;
  height: 52px;
  justify-content: center;
  align-items: center;
}

.group_container {
  padding: 10px;
  margin: 0px 0px 20px 0px;
  background: #FFFFFF;
  box-shadow: 0 0 6px 0 rgba(71,69,84,0.50);
  border-radius: 4px;
}

.group_header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0px 0px 10px 0px;
}

.group_table {
  height: 32px;
  margin: 0px 0px;
  padding-top: 7px;
  font-size: 20px;
}

.group_table:nth-child(1) {
  box-shadow: inset 3px 0 #8f2684;
}

.group_table:nth-child(2) {
  box-shadow: inset 3px 0 #8f2684;
}

.country {
  font-family: 'Orbitron', sans-serif;
}

.game_ergebnis {
  font-family: 'Orbitron', sans-serif;
  padding: 4px 5px 0px 5px;
  font-size: 26px;
  color: #FFF5FF;
  line-height: 30px;
  background: #474554;
  border-radius: 2px;
  heigth: 32px;
  width: 74px;
  margin: 0 5px;
  text-align: center;
}

.game_during {
  display: flex;
  font-family: 'Orbitron', sans-serif;
  padding: 4px 5px 0px 5px;
  font-size: 26px;
  color: #FFF5FF;
  line-height: 30px;
  background: #00AC85;
  border-radius: 2px;
  heigth: 32px;
  width: 74px;
  margin: 0 5px;
  justify-content: center;
}

.game_before {
  display: flex;
  font-family: 'Orbitron', sans-serif;
  padding: 4px 5px 0px 5px;
  font-size: 26px;
  color: #FFF5FF;
  line-height: 30px;
  background: #474554;
  border-radius: 2px;
  heigth: 32px;
  width: 74px;
  margin: 0 5px;
  justify-content: center;
}

.game_tipp {
  heigth: 48px;
  width: 74px;
}

.tipp_container {
  font-family: 'Orbitron', sans-serif;
  padding: 4px 5px 0px 5px;
  font-size: 26px;
  color: #FFF5FF;
  line-height: 30px;
  background: #474554;
  border-radius: 2px;
  heigth: 32px;
  width: 74px;
}

.tipp_goal {
  width: 34%;
  background-color: transparent;
  border-style: none;
  text-align: center;
  font-size: 26px;
}

.tipp_submit {
  width: 74px;
  margin-top: 8px;
  border-style: none;
  background-color: lightgrey;
  color: #340030;
}

.tipp_bottom {
  margin-top: -40px;
  margin-bottom: 0px;
  text-align: center;
  padding: 4px 0px;
}

.team {
  font-family: 'Orbitron', sans-serif;
  height: 32px;
  margin: 0 10px;
  padding-top: 7px;
  font-size: 20px;
}

.time_date {
  margin-top: 10px;
  margin-bottom: 5px;
}

.tipp_outercontainer {
  width: 74px;
  margin-top: 33px;
}

.flag {
  display: inline;
}

  .visible-xxs {
    display: none !important;
  }

@media only screen and (max-width: 374px) {
  .hidden-xxs {
    display: none !important;
  }
  
  .visible-xxs {
    display: block !important;
  }
  .game_container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .team {
    margin: 0px 5px;
  }
}

@media only screen and (max-width: 540px) {

  .group_header {
   font-size: 20px;
  }
  .flag {
    height: 20px !important;
    width: 20px !important;
  }
  .group_table {
    height: 20px;
    margin: 0px 0px;
    padding-top: 0px;
    font-size: 14px;
  }
  
  .country {
    display: none !important;
  }
  .shortname {
    display: block !important;
    font-family: 'Orbitron', sans-serif;
  } 
}

@media only screen and (min-width: 540px) {
  .shortname {
    display: none !important;
  } 
}