<p><strong>Herzlich Willkommen beim diesjährigen KEK WM Tippspiel, <%= @resource.nickname %></strong></p>

<p>Wir freuen uns sehr dass Sie sich dazu entschieden haben, Teil des Tippspiels zu werden. Wir haben eine Registrierung für folgende E-Mail Adresse erhalten:</p>

<p><%= @resource.email %></p>

<p>Bitte folgen Sie dem Untenstehenden Link, um Ihr Konto zu bestätigen und somit am Tippspiel teilzunehmen:</p>

<%= link_to t('.action', default: 'Konto bestätigen'),
         confirmation_url(@resource, confirmation_token: @token, locale: I18n.locale) %>

<p>Sollten sie Probleme bei der Anmeldung haben, bitten wir Sie uns Ihre Problembeschreibung unter der tippspiel@kek-it.de zukommen zu lassen. Wir werden uns anschließend schnellstmöglich bei Ihnen melden.</p>


<p>Vielen Dank & viel Erfolg beim Tippen,</p>

<p>Ihr Team von KEK</p>