<p><%= t('.greeting', recipient: @resource.email, default: "Willkommen #{@resource.nickname}!") %></p>

<p><%= t('.instruction', default: 'Vielen Dank für Ihre Registrierung:') %></p>

<p><%= link_to t('.action', default: 'Benutzerkonto freischalten'),
         confirmation_url(@resource, confirmation_token: @token, locale: I18n.locale) %></p>
