<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns="http://www.w3.org/TR/REC-html40"><head><meta http-equiv=Content-Type content="text/html; charset=iso-8859-1"><meta name=Generator content="Microsoft Word 15 (filtered medium)"><style><!--
/* Font Definitions */
@font-face
	{font-family:Helvetica;
	panose-1:2 11 6 4 2 2 2 3 2 4;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;
	mso-fareast-language:EN-US;}
a:link, span.MsoHyperlink
	{mso-style-priority:99;
	color:#0563C1;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{mso-style-priority:99;
	color:#954F72;
	text-decoration:underline;}
p
	{mso-style-priority:99;
	mso-margin-top-alt:auto;
	margin-right:0cm;
	mso-margin-bottom-alt:auto;
	margin-left:0cm;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
span.E-MailFormatvorlage17
	{mso-style-type:personal-compose;
	font-family:"Arial",sans-serif;
	color:windowtext;}
.MsoChpDefault
	{mso-style-type:export-only;
	font-family:"Calibri",sans-serif;
	mso-fareast-language:EN-US;}
@page WordSection1
	{size:612.0pt 792.0pt;
	margin:70.85pt 70.85pt 2.0cm 70.85pt;}
div.WordSection1
	{page:WordSection1;}
--></style><!--[if gte mso 9]><xml>
<o:shapedefaults v:ext="edit" spidmax="1026" />
</xml><![endif]--><!--[if gte mso 9]><xml>
<o:shapelayout v:ext="edit">
<o:idmap v:ext="edit" data="1" />
</o:shapelayout></xml><![endif]--></head>
  <body lang=DE link="#0563C1" vlink="#954F72">
    <div class=WordSection1>
      <p style='margin:0cm;margin-bottom:.0001pt;line-height:12.75pt'>
        <span style='font-family:"Helvetica",sans-serif;color:#8F2684'>Herzlich Willkommen <%= @resource.nickname %>,</span>
        <span style='font-size:10.0pt;font-family:"Helvetica",sans-serif;color:#474554'><o:p></o:p></span>
      </p>
      <p style='margin:0cm;margin-bottom:.0001pt;line-height:12.75pt'>
        <span style='font-size:10.0pt;font-family:"Helvetica",sans-serif;color:#474554'>&nbsp;<o:p></o:p></span>
      </p>
      <p style='margin:0cm;margin-bottom:.0001pt;line-height:10.5pt'>
        <span style='font-size:10.0pt;font-family:"Helvetica",sans-serif;color:#474554'>
          wir freuen uns sehr, dass Sie sich dazu entschieden haben, am diesjährigen <strong><span style='font-family:"Helvetica",sans-serif'>WM-Tippspiel</span></strong>
          der KEK Anwendungssysteme GmbH teilzunehmen.<br>Wir haben eine Registrierung für folgende E-Mail Adresse erhalten:</span>
          <span style='font-size:9.0pt;font-family:"Helvetica",sans-serif;color:#474554'><o:p></o:p></span>
      </p>
      <p style='margin:0cm;margin-bottom:.0001pt;line-height:10.5pt'>
        <span style='font-size:10.0pt;font-family:"Helvetica",sans-serif;color:#474554'>&nbsp;</span>
        <span style='font-size:9.0pt;font-family:"Helvetica",sans-serif;color:#474554'><o:p></o:p>
        </span>
      </p>
      <p style='margin:0cm;margin-bottom:.0001pt;line-height:10.5pt'>
        <span style='font-size:10.0pt;font-family:"Helvetica",sans-serif;color:black'>
        <span style='color:#8F2684'><%= @resource.email %></span>
        </span>
        <span style='font-size:9.0pt;font-family:"Helvetica",sans-serif;color:black'><o:p></o:p></span>
      </p>
      <p style='margin:0cm;margin-bottom:.0001pt;line-height:10.5pt'>
        <span style='font-size:10.0pt;font-family:"Helvetica",sans-serif;color:#474554'>&nbsp;</span>
        <span style='font-size:9.0pt;font-family:"Helvetica",sans-serif;color:#474554'><o:p></o:p></span>
      </p>
      <p class=MsoNormal>
        <span style='font-size:10.0pt;font-family:"Helvetica",sans-serif;color:#474554'>Bitte folgen Sie dem Untenstehenden Link, um Ihr Konto zu bestätigen und somit direkt ins Tippspiel zu starten:<o:p></o:p></span>
      </p>
      <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Helvetica",sans-serif;color:#474554'><%= link_to "<span style='color:#8F2684'>Konto bestätigen</span>".html_safe, confirmation_url(@resource, confirmation_token: @token, locale: I18n.locale) %></span>
      </p>
      <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Helvetica",sans-serif;color:#474554'><o:p>&nbsp;</o:p></span></p>
      <p style='margin:0cm;margin-bottom:.0001pt;line-height:12.75pt'>
        <span style='font-size:10.0pt;font-family:"Helvetica",sans-serif;color:#474554'>
          Sollten sie Probleme bei der Anmeldung haben, bitten wir Sie uns Ihre Problembeschreibung unter der 
          <a href="mailto:tippspiel@kek-it.de?subject=Probleme%20beim%20Anmelden" title="tippspiel@kek-it.de">
            <span style='color:#8F2684'>tippspiel@kek-it.de</span>
          </a> zukommen zu lassen. Wir werden uns anschließend schnellstmöglich bei Ihnen melden.<o:p></o:p></span>
      </p>
      <p style='margin:0cm;margin-bottom:.0001pt;line-height:10.5pt'>
        <span style='font-size:9.0pt;font-family:"Helvetica",sans-serif;color:#474554'><br></span>
        <span style='font-size:10.0pt;font-family:"Helvetica",sans-serif;color:#474554'>Vielen Dank &amp; viel Erfolg beim Tippen,</span>
        <span style='font-size:9.0pt;font-family:"Helvetica",sans-serif;color:#474554'><o:p></o:p></span>
      </p>
      <p style='margin:0cm;margin-bottom:.0001pt;line-height:10.5pt'>
        <span style='font-size:10.0pt;font-family:"Helvetica",sans-serif;color:#474554'>&nbsp;</span>
        <span style='font-size:9.0pt;font-family:"Helvetica",sans-serif;color:#474554'><o:p></o:p></span>
      </p>
      <p style='margin:0cm;margin-bottom:.0001pt;line-height:10.5pt'>
        <span style='font-size:9.0pt;font-family:"Helvetica",sans-serif;color:#474554'><br></span>
        <span style='font-size:10.0pt;font-family:"Helvetica",sans-serif;color:#474554'>Ihr Team von KEK</span>
        <span style='font-size:9.0pt;font-family:"Helvetica",sans-serif;color:#474554'><o:p></o:p></span>
      </p>
      <p class=MsoNormal style='margin-bottom:12.0pt;line-height:10.5pt'>
        <span style='font-size:9.0pt;font-family:"Helvetica",sans-serif;color:#474554'><o:p>&nbsp;</o:p></span>
      </p>
      <p class=MsoNormal><span style='font-size:7.0pt;font-family:"Helvetica",sans-serif;color:#474554'>Dies ist eine automatisch generierte Email, welche via Sendgrid automatisch versendet wurde</span><span style='font-size:10.0pt;font-family:"Helvetica",sans-serif;color:#474554'><o:p></o:p></span>
      </p>
    </div>
  </body>
</html>
